{% extends "base.html.twig" %}
{% block title %}
	Authentication
{% endblock %}
{% block stylesheets %}{% endblock %}
{% block body %}
	<div class="container">
		<div class="card">
			<div class="card-header">{{name}}</div>
			<div class="card-body">
				{% include "AuthenticationBundle:Default:form.html.twig" %}
			</div>
		</div>
	</div>
{% endblock %}
{% block javascripts %}
	<script>
		const path_to_login = "{{ path('authentication_to_login') }}"
	</script>
	<script src="{{ asset('resources/js/Authentication/authentication.js')}}"></script>
{% endblock %}
